
@{
    ViewBag.Title = "AllTableLists";
}

<h2>AllTableLists</h2>

<a href="/Jobs/Index">Jobs</a>


<a href="/JobSeekersEitaDeleteKorleoMair/Index">Jobseekers</a>
<h2></h2>
<a href="/Resumes/Index">Resumes</a>
<h2></h2>
<a href="/JobSeekeds/Index">Job Seeked</a>
<h2></h2>
<a href="/EmployerSelectsSeekers/Index">Employer Selects Seeker</a>
<h2></h2>
<a href="/Employers/Index">Employers</a>
<h2></h2>
<a href="/JobCategories/Index">Job Categories</a>